.js-clock {
  span {
    display: inline-block;
    font-size: 150px;
    &.format {
      display: none;
      margin: 0 10px 0 0;
      font-size: 60px;
    }
    &.seconds {
      font-size: 60px;
      opacity: .5;
    }
  }
}