.clock-wrap {
  position: relative;
  flex: 1;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;

  .js-clock {
    display: inline-block;

    span {
      display: inline-block;
      position: relative;
      font-size: 100px;
      text-shadow: 0 4px 8px rgba(0,0,0,.5);

      &.format {
        display: none;
        margin-right: 5px;
        font-size: 60px;
      }
      &.seconds {
        font-size: 60px;
        opacity: .75;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .clock-wrap {
    .js-clock {
      span {
        font-size: 60px;

        &.format {
          font-size: 30px;
        }
        &.seconds {
          font-size: 30px;
        }
      }
    }
  }
}
