.clock-wrap {
  display: inline-block;
  .js-clock {
    position: relative;
    padding: 0 100px 0 110px;
  
    span {
      display: inline-block;
      position: relative;
      font-size: 150px;
      &.format {
        display: none;
        position: absolute;
        bottom: 20px;
        left: 0;
        font-size: 60px;
      }
      &.seconds {
        position: absolute;
        bottom: 20px;
        right: 15px;
        font-size: 60px;
        opacity: .5;
      }
    }
  }
}
