.js-form {
  input {
    width: 600px;
    padding: 5px;
    font-size: 54px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    border: none;
    border-bottom: 2px solid #fff;
    background: transparent;
  }
}

.js-greeting {
  padding: 5px 5px 6px;
  font-size: 54px;
}