body {
  margin: 0;
  padding: 0;
  background: #333;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.show {
  display: block !important;
}
.show-inline {
  display: inline-block !important;
}
.hide {
  display: none !important;
}

.region {
  position: absolute;
  &.center {
    top: 40%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  &.left {
    left: 0;
  }
  &.right {
    right: 0;
  }
  &.top {
    top: 0;
  }
  &.bottom {
    bottom: 0;
  }
  &.cover {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index:-1;
  }
}
