.js-weather {
    padding: 11px 20px 10px 10px;
    text-align: right;

    .metric-stat {
        white-space: nowrap;
        .icon-weather {
            margin-right: 6px;
            height: 13px;
            &:before {
                content: '';
                display: inline-block;
                width: 26px;
            }
        }
        .metric-stat-number, .degree {
            margin: 0;
            padding: 0;
            font-size: 26px;
        }
    }
    
    .location {
        display: inline-block;
        margin: 0;
        padding: 0 0 3px;
        font-size: 13px;
        vertical-align: top;
        word-break: break-all;
    }
}