body {
  margin: 0;
  padding: 0;
}

.show {
  display: block !important;
}

.region {
  &.center {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
}
.js-clock {
  span {
    display: inline-block;
    font-size: 150px;
    &.format {
      display: none;
      margin: 0 10px 0 0;
      font-size: 60px;
    }
  }
}